<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<dict>
  <key>AD</key>
  <string>Andorre</string>
  <key>AE</key>
  <string>&#201;mirats arabes unis</string>
  <key>AF</key>
  <string>Afghanistan</string>
  <key>AG</key>
  <string>Antigua-et-Barbuda</string>
  <key>AI</key>
  <string>Anguilla</string>
  <key>AL</key>
  <string>Albanie</string>
  <key>AM</key>
  <string>Arm&#233;nie</string>
  <key>AN</key>
  <string>Antilles n&#233;erlandaises</string>
  <key>AO</key>
  <string>Angola</string>
  <key>AQ</key>
  <string>Antarctique</string>
  <key>AR</key>
  <string>Argentine</string>
  <key>AS</key>
  <string>Samoa am&#233;ricaines</string>
  <key>AT</key>
  <string>Autriche</string>
  <key>AU</key>
  <string>Australie</string>
  <key>AW</key>
  <string>Aruba</string>
  <key>AX</key>
  <string>&#197;land</string>
  <key>AZ</key>
  <string>Azerba&#239;djan</string>
  <key>BA</key>
  <string>Bosnie-Herz&#233;govine</string>
  <key>BB</key>
  <string>Barbade</string>
  <key>BD</key>
  <string>Bangladesh</string>
  <key>BE</key>
  <string>Belgique</string>
  <key>BF</key>
  <string>Burkina&#160;Faso</string>
  <key>BG</key>
  <string>Bulgarie</string>
  <key>BH</key>
  <string>Bahre&#239;n</string>
  <key>BI</key>
  <string>Burundi</string>
  <key>BJ</key>
  <string>B&#233;nin</string>
  <key>BL</key>
  <string>Saint-Barth&#233;lemy</string>
  <key>BM</key>
  <string>Bermudes</string>
  <key>BN</key>
  <string>Brunei</string>
  <key>BO</key>
  <string>Bolivie</string>
  <key>BR</key>
  <string>Br&#233;sil</string>
  <key>BS</key>
  <string>Bahamas</string>
  <key>BT</key>
  <string>Bhoutan</string>
  <key>BV</key>
  <string>&#206;le Bouvet</string>
  <key>BW</key>
  <string>Botswana</string>
  <key>BY</key>
  <string>Bi&#233;lorussie</string>
  <key>BZ</key>
  <string>Belize</string>
  <key>CA</key>
  <string>Canada</string>
  <key>CC</key>
  <string>&#206;les Cocos</string>
  <key>CD</key>
  <string>Congo-Kinshasa</string>
  <key>CF</key>
  <string>R&#233;publique&#160;centrafricaine</string>
  <key>CG</key>
  <string>Congo-Brazzaville</string>
  <key>CH</key>
  <string>Suisse</string>
  <key>CI</key>
  <string>C&#244;te d'Ivoire</string>
  <key>CK</key>
  <string>&#206;les Cook</string>
  <key>CL</key>
  <string>Chili</string>
  <key>CM</key>
  <string>Cameroun</string>
  <key>CN</key>
  <string>Chine</string>
  <key>CO</key>
  <string>Colombie</string>
  <key>CR</key>
  <string>Costa Rica</string>
  <key>CU</key>
  <string>Cuba</string>
  <key>CV</key>
  <string>Cap-Vert</string>
  <key>CX</key>
  <string>&#206;le Christmas</string>
  <key>CY</key>
  <string>Chypre</string>
  <key>CZ</key>
  <string>R&#233;publique tch&#232;que</string>
  <key>DE</key>
  <string>Allemagne</string>
  <key>DJ</key>
  <string>Djibouti</string>
  <key>DK</key>
  <string>Danemark</string>
  <key>DM</key>
  <string>Dominique</string>
  <key>DO</key>
  <string>R&#233;publique dominicaine</string>
  <key>DZ</key>
  <string>Alg&#233;rie</string>
  <key>EC</key>
  <string>&#201;quateur</string>
  <key>EE</key>
  <string>Estonie</string>
  <key>EG</key>
  <string>&#201;gypte</string>
  <key>EH</key>
  <string>Sahara occidental</string>
  <key>ER</key>
  <string>&#201;rythr&#233;e</string>
  <key>ES</key>
  <string>Espagne</string>
  <key>ET</key>
  <string>&#201;thiopie</string>
  <key>FI</key>
  <string>Finlande</string>
  <key>FJ</key>
  <string>Fidji</string>
  <key>FK</key>
  <string>&#206;les Malouines</string>
  <key>FM</key>
  <string>Micron&#233;sie</string>
  <key>FO</key>
  <string>&#206;les F&#233;ro&#233;</string>
  <key>FR</key>
  <string>France</string>
  <key>GA</key>
  <string>Gabon</string>
  <key>GB</key>
  <string>Royaume-Uni</string>
  <key>GD</key>
  <string>Grenade</string>
  <key>GE</key>
  <string>G&#233;orgie</string>
  <key>GF</key>
  <string>Guyane</string>
  <key>GG</key>
  <string>Guernesey</string>
  <key>GH</key>
  <string>Ghana</string>
  <key>GI</key>
  <string>Gibraltar</string>
  <key>GL</key>
  <string>Groenland</string>
  <key>GM</key>
  <string>Gambie</string>
  <key>GN</key>
  <string>Guin&#233;e</string>
  <key>GP</key>
  <string>Guadeloupe</string>
  <key>GQ</key>
  <string>Guin&#233;e &#233;quatoriale</string>
  <key>GR</key>
  <string>Gr&#232;ce</string>
  <key>GS</key>
  <string>G&#233;orgie du Sud-et-les &#206;les Sandwich du Sud</string>
  <key>GT</key>
  <string>Guatemala</string>
  <key>GU</key>
  <string>Guam</string>
  <key>GW</key>
  <string>Guin&#233;e-Bissau</string>
  <key>GY</key>
  <string>Guyana</string>
  <key>HK</key>
  <string>Hong Kong</string>
  <key>HM</key>
  <string>&#206;les Heard-et-MacDonald</string>
  <key>HN</key>
  <string>Honduras</string>
  <key>HR</key>
  <string>Croatie</string>
  <key>HT</key>
  <string>Ha&#239;ti</string>
  <key>HU</key>
  <string>Hongrie</string>
  <key>ID</key>
  <string>Indon&#233;sie</string>
  <key>IE</key>
  <string>Irlande</string>
  <key>IL</key>
  <string>Isra&#235;l</string>
  <key>IM</key>
  <string>&#206;le de Man</string>
  <key>IN</key>
  <string>Inde</string>
  <key>IO</key>
  <string>Territoire britannique de l'oc&#233;an Indien</string>
  <key>IQ</key>
  <string>Irak</string>
  <key>IR</key>
  <string>Iran</string>
  <key>IS</key>
  <string>Islande</string>
  <key>IT</key>
  <string>Italie</string>
  <key>JE</key>
  <string>Jersey</string>
  <key>JM</key>
  <string>Jama&#239;que</string>
  <key>JO</key>
  <string>Jordanie</string>
  <key>JP</key>
  <string>Japon</string>
  <key>KE</key>
  <string>Kenya</string>
  <key>KG</key>
  <string>Kirghizistan</string>
  <key>KH</key>
  <string>Cambodge</string>
  <key>KI</key>
  <string>Kiribati</string>
  <key>KM</key>
  <string>Comores</string>
  <key>KN</key>
  <string>Saint-Christophe-et-Ni&#233;v&#232;s</string>
  <key>KP</key>
  <string>Cor&#233;e du Nord</string>
  <key>KR</key>
  <string>Cor&#233;e du Sud</string>
  <key>KW</key>
  <string>Kowe&#239;t</string>
  <key>KY</key>
  <string>&#206;les Ca&#239;mans</string>
  <key>KZ</key>
  <string>Kazakhstan</string>
  <key>LA</key>
  <string>Laos</string>
  <key>LB</key>
  <string>Liban</string>
  <key>LC</key>
  <string>Sainte-Lucie</string>
  <key>LI</key>
  <string>Liechtenstein</string>
  <key>LK</key>
  <string>Sri Lanka</string>
  <key>LR</key>
  <string>Liberia</string>
  <key>LS</key>
  <string>Lesotho</string>
  <key>LT</key>
  <string>Lituanie</string>
  <key>LU</key>
  <string>Luxembourg</string>
  <key>LV</key>
  <string>Lettonie</string>
  <key>LY</key>
  <string>Libye</string>
  <key>MA</key>
  <string>Maroc</string>
  <key>MC</key>
  <string>Monaco</string>
  <key>MD</key>
  <string>Moldavie</string>
  <key>ME</key>
  <string>Mont&#233;n&#233;gro</string>
  <key>MF</key>
  <string>Saint-Martin</string>
  <key>MG</key>
  <string>Madagascar</string>
  <key>MH</key>
  <string>Marshall</string>
  <key>MK</key>
  <string>Mac&#233;doine</string>
  <key>ML</key>
  <string>Mali</string>
  <key>MM</key>
  <string>Birmanie</string>
  <key>MN</key>
  <string>Mongolie</string>
  <key>MO</key>
  <string>Macao</string>
  <key>MP</key>
  <string>&#206;les Mariannes du Nord</string>
  <key>MQ</key>
  <string>Martinique</string>
  <key>MR</key>
  <string>Mauritanie</string>
  <key>MS</key>
  <string>Montserrat</string>
  <key>MT</key>
  <string>Malte</string>
  <key>MU</key>
  <string>Maurice</string>
  <key>MV</key>
  <string>Maldives</string>
  <key>MW</key>
  <string>Malawi</string>
  <key>MX</key>
  <string>Mexique</string>
  <key>MY</key>
  <string>Malaisie</string>
  <key>MZ</key>
  <string>Mozambique</string>
  <key>NA</key>
  <string>Namibie</string>
  <key>NC</key>
  <string>Nouvelle-Cal&#233;donie</string>
  <key>NE</key>
  <string>Niger</string>
  <key>NF</key>
  <string>Norfolk</string>
  <key>NG</key>
  <string>Nigeria</string>
  <key>NI</key>
  <string>Nicaragua</string>
  <key>NL</key>
  <string>Pays-Bas</string>
  <key>NO</key>
  <string>Norv&#232;ge</string>
  <key>NP</key>
  <string>N&#233;pal</string>
  <key>NR</key>
  <string>Nauru</string>
  <key>NU</key>
  <string>Niue</string>
  <key>NZ</key>
  <string>Nouvelle-Z&#233;lande</string>
  <key>OM</key>
  <string>Oman</string>
  <key>PA</key>
  <string>Panam&#225;</string>
  <key>PE</key>
  <string>P&#233;rou</string>
  <key>PF</key>
  <string>Polyn&#233;sie fran&#231;aise</string>
  <key>PG</key>
  <string>Papouasie-Nouvelle-Guin&#233;e</string>
  <key>PH</key>
  <string>Philippines</string>
  <key>PK</key>
  <string>Pakistan</string>
  <key>PL</key>
  <string>Pologne</string>
  <key>PM</key>
  <string>Saint-Pierre-et-Miquelon</string>
  <key>PN</key>
  <string>&#206;les Pitcairn</string>
  <key>PR</key>
  <string>Porto Rico</string>
  <key>PS</key>
  <string>Palestine</string>
  <key>PT</key>
  <string>Portugal</string>
  <key>PW</key>
  <string>Palaos</string>
  <key>PY</key>
  <string>Paraguay</string>
  <key>QA</key>
  <string>Qatar</string>
  <key>RE</key>
  <string>La R&#233;union</string>
  <key>RO</key>
  <string>Roumanie</string>
  <key>RS</key>
  <string>Serbie</string>
  <key>RU</key>
  <string>Russie</string>
  <key>RW</key>
  <string>Rwanda</string>
  <key>SA</key>
  <string>Arabie saoudite</string>
  <key>SB</key>
  <string>Salomon</string>
  <key>SC</key>
  <string>Seychelles</string>
  <key>SD</key>
  <string>Soudan</string>
  <key>SE</key>
  <string>Su&#232;de</string>
  <key>SG</key>
  <string>Singapour</string>
  <key>SH</key>
  <string>Sainte-H&#233;l&#232;ne</string>
  <key>SI</key>
  <string>Slov&#233;nie</string>
  <key>SJ</key>
  <string>Svalbard et &#238;le Jan Mayen</string>
  <key>SK</key>
  <string>Slovaquie</string>
  <key>SL</key>
  <string>Sierra Leone</string>
  <key>SM</key>
  <string>Saint-Marin</string>
  <key>SN</key>
  <string>S&#233;n&#233;gal</string>
  <key>SO</key>
  <string>Somalie</string>
  <key>SR</key>
  <string>Suriname</string>
  <key>ST</key>
  <string>Sao Tom&#233;-et-Principe</string>
  <key>SV</key>
  <string>Salvador</string>
  <key>SY</key>
  <string>Syrie</string>
  <key>SZ</key>
  <string>Swaziland</string>
  <key>TC</key>
  <string>&#206;les Turques-et-Ca&#239;ques</string>
  <key>TD</key>
  <string>Tchad</string>
  <key>TF</key>
  <string>Terres australes et antarctiques fran&#231;aises</string>
  <key>TG</key>
  <string>Togo</string>
  <key>TH</key>
  <string>Tha&#239;lande</string>
  <key>TJ</key>
  <string>Tadjikistan</string>
  <key>TK</key>
  <string>Tokelau</string>
  <key>TL</key>
  <string>Timor-Leste</string>
  <key>TM</key>
  <string>Turkm&#233;nistan</string>
  <key>TN</key>
  <string>Tunisie</string>
  <key>TO</key>
  <string>Tonga</string>
  <key>TR</key>
  <string>Turquie</string>
  <key>TT</key>
  <string>Trinit&#233;-et-Tobago</string>
  <key>TV</key>
  <string>Tuvalu</string>
  <key>TW</key>
  <string>Ta&#239;wan</string>
  <key>TZ</key>
  <string>Tanzanie</string>
  <key>UA</key>
  <string>Ukraine</string>
  <key>UG</key>
  <string>Ouganda</string>
  <key>UM</key>
  <string>&#206;les mineures &#233;loign&#233;es des &#201;tats-Unis</string>
  <key>US</key>
  <string>&#201;tats-Unis</string>
  <key>UY</key>
  <string>Uruguay</string>
  <key>UZ</key>
  <string>Ouzb&#233;kistan</string>
  <key>VA</key>
  <string>Vatican</string>
  <key>VC</key>
  <string>Saint-Vincent-et-les Grenadines</string>
  <key>VE</key>
  <string>Venezuela</string>
  <key>VG</key>
  <string>&#206;les Vierges britanniques</string>
  <key>VI</key>
  <string>&#206;les Vierges des &#201;tats-Unis</string>
  <key>VN</key>
  <string>Vi&#234;t Nam</string>
  <key>VU</key>
  <string>Vanuatu</string>
  <key>WF</key>
  <string>Wallis-et-Futuna</string>
  <key>WS</key>
  <string>Samoa</string>
  <key>YE</key>
  <string>Y&#233;men</string>
  <key>YT</key>
  <string>Mayotte</string>
  <key>ZA</key>
  <string>Afrique du Sud</string>
  <key>ZM</key>
  <string>Zambie</string>
  <key>ZW</key>
  <string>Zimbabwe</string>
</dict>
